body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#controlMenu {
  position: absolute;
  width: 300px;
  top: 10;
  right: 10;
  background: white;
  padding: 10px;
  border-radius: 5px;
}
#suggestions {
  position: absolute;
  border-radius: 5px;
  width: 94%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
  font-size: 90%;
  overflow: auto;
}
#suggestions li {
  padding: 3px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
#suggestions li:hover {
  background: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.input-field {
  width: 100%;
}
.btn-container {
  padding-top: 10px;
}