body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.box {
  background: white;
  padding: 10px;
  border-radius: 5px;
}
#controlMenu {
  position: absolute;
  width: 300px;
  top: 10px;
  right: 10px;
}
.with-info {
  bottom: 30px;
}
.info-wrapper {
  overflow-y: auto;
}
.top-menu-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hidden {
  overflow: hidden;
}
#info-box div {
  border-bottom: 1px solid grey;
}
#info-box div:last-child{
  border: 0;
}
#suggestions {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
  font-size: 90%;
  overflow: auto;
  z-index: 1;
  cursor: default;
}
#suggestions li {
  padding: 3px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  margin: 0 5px;
}
#suggestions li:hover {
  background: #337ab7;
  color: white;
}
.btn-container {
  margin: 5px 0;
}
.input-field {
  width: 100%;
}
input[type="search"]:disabled {
  cursor: default;
}
.input-token {
  border:2px solid #2e6da4;
  background: #337ab7;
  color: white;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
  height: 75%;
  width: 97%;
  cursor: default;
  padding: 0 3px;
}
.input-token:hover {
  background: #4993d2;
}
.input-token-close {
  float: right;
  padding-right: 2px;
  cursor: pointer;
}
.input-wrapper {
  position: relative;
}
.mapboxgl-popup-content {
  padding: 8px;
}
.popup {
  font-family: 'Lato', sans-serif;
  font-size: 120%;
  text-align: center;
}
.popup .btn {
  margin: 5px 3px;
}
.form-group {
  margin-bottom: 0;
}