body {
  overflow: hidden;
}
#map {
  width: 75%;
}
a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: white;
  text-decoration: none;
}
.side-panel {
  overflow-y: auto;
  color: white;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: black;
  width: 25%;
  display: flex;
  flex-direction: column;
  cursor: default;
}
.ranks {
  overflow-y: auto;
}
.side-panel div {
  margin: 4px 0;
  padding: 0 15px;
}
.stop-table {
  width: 100%;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.cell-rank {
  vertical-align: top;
  width: 35px;
}
.cell-name {
  text-align: right;
}
.cell-routes {
  padding-bottom: 5px;
  text-align: right;
}
.system-selector {
  position: absolute;
  top: 10px;
  left: 60px;
  z-index: 1;
}
.system-selector button {
  margin: 0 5px;
}
.mode-selector {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 1;
}
.mode-selector button {
  margin: 0 5px;
}
.float-right {
  float: right;
}
.clear-right {
  clear: right;
}
#legend {
  width: 100%;
}
#legend label,
#legend span {
  display: block;
  float: left;
  height: 15px;
  width: 20%;
  text-align: center;
  font-size: 9px;
}
.modal-trigger {
  position: absolute;
  top: 10;
  right: 20;
}
.modal-content {
  background: black;
  color: white;
}