body {
  overflow: hidden;
}
.side-panel {
  overflow-y: auto;
  color: white;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  padding: 0 15px;
  position: absolute;
  background: black;
  width: 400px;
}
.side-panel div {
  margin: 4px 0;
}
.stop-table {
  width: 100%;
  color: white;
  font-size: 14px;
}
.cell-rank {
  vertical-align: top;
}
.cell-name {
  text-align: right;
}
.cell-routes {
  padding-bottom: 5px;
  text-align: right;
}
.system-selector {
  position: absolute;
  top: 10px;
  left: 60px;
  z-index: 1;
}
.system-selector button {
  margin: 0 5px;
}
.float-right {
  float: right;
}
.clear-right {
  clear: right;
}